@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --secondaryColor: #f09d51; 
  --primaryColor: #4a5d23;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainRed: #8B0000;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.2s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainGrey);
  font-family: "Lato", sans-serif;
  overflow- x: hidden;
  display: block;
}
body a {
 text-decoration: none;
 color: var(--mainRed);
}
.navbar {
  position: sticky;
  top: 0;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--primaryColor);
  z-index: 1; /* the z index ensures that the nav bar doesn't fall behind the content of the page */
}
.navbar h2 {
  font-size: 2.3rem;
}
.navbar-center {
  width: 100%;
  max-width: 1170px; 
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}
.navbar-center a {
 text-shadow:
    -1px -1px 0 #FFF,
     1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
}
.nav-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, 
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75), 
      rgba(0, 0, 0, 0));
}
div.scrollmenu {  
  position: sticky;
  top: 48px;
  overflow-x: auto; 
  overflow-y: hidden; 
 // white-space: nowrap; 
  height: 33px; 
  display: flex; 
  align-items: center;
  z-index: 1;
}
div.scrollmenu button {
  display: inline-block;
  text-align: center;
  padding: 0.1rem 1rem;
  background-color: rgba(74, 93, 35, 0.7);
  border-radius: 1rem;
  color: var(--mainRed);
  font-size: 1.5rem;
}
div.scrollproducts { 
  overflow-x: scroll; 
  overflow-y: hidden; 
  white-space: nowrap; 
  max-height: 450px;
  padding: 0 0.3rem;
  display: flex; 
  align-items: center;
}
div.scrollproducts div {
  display: inline-block
  align-items: center;
  width: 300px;
  padding: 0 0 0 0.6rem;
}
div.scrollproducts h2 {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
div.scrollproducts h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
div.scrollproducts h4 {
  margin-top: 0.7rem;
  font-size:0.8rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}
div.scrollproducts h5 {
  margin-top: 0.5rem;
  font-size:0.6rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}
@media screen and (max-width: 768px) {
img-container-prod {
  max-width:300px} 
}
@media screen and (max-width: 768px) {
div.scrollproducts {
 max-width:300px; }
}
@media screen and (min-width: 768px) {
div.scrollmenu a {
  padding:0.4rem 5rem; }
}
#cart-icon {
  font-size: 1.4rem;
  position: relative;
  cursor: pointer;
  border-radius: 65%;
  background: transparent;
  display: inline;
}
span.search-box {
   //transform: translate( -50%, -50%);
   background: var(--mainWhite);
   height: 2.2rem;
   border-radius: 2.2rem;
   padding:0.1rem 0.2rem 0.2rem 0.2rem;
   position: relative;
   cursor: pointer;
   //visibility: hidden;
}
span.search-box a:hover search-txt {
   width: 6rem;
}
.search-btn {
   color: var(--mainBlack);
   float: right;
   width: 2.2rem;
   height: 2rem;
   border-radius: 50%;
   background: var(--mainWhite);
   display:flex;
   justify-content: center;
   align-items: center;
   transition: var(--mainTransition);
   position: relative;
   cursor: pointer;
}
#search {
   font-size: 1.4rem;
   color: var(--mainBlack);
}

.search-txt {
   border: none;
   background: none;
   outline: none;
   float: left;
   padding: 0 0.2rem 0.3rem 0.4rem;
   color: var(--mainBlack);
   font-size: 1.5rem;
   transition: var(--mainTransition);
   line-height: 2rem;
   width: 5rem;
}
.clock {
  font-family: 'Lato', sans-serif;
  color: var(--primaryColor);
  font-size: 1.6rem;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.banner-background {
  min-height: calc(100vh - 60px);
  background: url("/images/pexels/grocery.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
  overflow-x: hidden;
}
.banner-title {
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  text-color: var(--mainBlack);
  margin-bottom: 3rem;
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: transparent;
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.products {
  padding: 4rem 0;
}
.section-title h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  text-transform: capitalize;
  text-color: var(--mainBlack);
  letter-spacing: var(--mainSpacing);
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
  max-height: 450px;
}
.img-container-prod {
  position: relative;
  overflow: hidden;
  max-height: 425px;
  padding: 0 0.5rem;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: transparent;
  border: 1px solid var(--primaryColor);
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

article.product h2 {
  text-transform: capitalize;
  font-size: 1.3rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
article.product h3 {
  text-transform: capitalize;
  font-size: 1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

article.product h4 {
  margin-top: 0.7rem;
  font-size:0.8rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}
article.product h5 {
  margin-top: 0.5rem;
  font-size:0.6rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}
article.product a {
 text-decoration: none;
 margin-top: 0.5rem;
 font-size:0.6rem;
 letter-spacing: var(--mainSpacing);
 text-align: center;
 color: var(--mainRed);
}
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgba(74, 93, 35, 0.3); 
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221); /* grey */
  padding: 1.5rem;
  transition: var(--mainTransition); 
  transform: translateX(-100vw);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}
.cart-items {
  position: absolute;
  top: -10px;
  right: -15px;
  background: var(--mainGrey);
  padding: 0 4px;
  border-radius: 30%;
  color: var(--primaryColor);
  font-size: 0.5rem;
}
.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 170px;
  height: 170px;
}
.cart-item p {
  font-size: 1.5rem;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: var(--mainBlack);
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
  font-size: 1.7rem;
}

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
#order-icon {
 font-size: 5rem;
}
.page-header {
 position: absolute;
 top: 0;
 width: 100%;
 text-align: center;
 background: var(--mainGrey); 
 text-color: var(--mainBlack);
 font-size:0.7rem;
 display: inline;
 translateY: -100%;
}
.page-header button {
 display: inline-block;
}
.page-header p {
 display: inline-block;
}
.page-footer {
 position: relative;
 bottom: 0;
 width: 100%;
 text-align: center;
 background: var(--mainGrey); 
 text-color: var(--mainBlack);
 font-size:0.9rem;
 z-index:1;
 
}
.page-footer hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, 
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75), 
      rgba(0, 0, 0, 0));
}
#footer-icon {
 font-size: 1.4rem;
}
