@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --secondaryColor: #f09d51; 
  --primaryColor: #4a5d23;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainRed: #8B0000;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.2s linear;
}

.title{
    text-align: center;
}

.inputDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 8px #888888;
}

.input{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    max-width: 350px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
}

.add{
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color: var(--primaryColor);
    color: var(--mainWhite);
    cursor: pointer;
    transition: var(--mainTransition);
    margin: 0.25rem;
}

.add:hover{
	opacity: 0.7;
}

.container{
	display: flex;
	flex-direction: column;
        white-space: nowrap; 
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2rem;
        overflow-y: scroll;
}

.item{
	padding: 0.5rem;
	margin-bottom: 1.5rem;
        box-shadow: 1px 2px 8px #888888;
}

.item_input{
	background: none;
	outline: none;
	border: none;
	color: var(--primaryColor);
	font-size: 1rem;
	max-width: 100px;
      //  box-shadow: 5px 10px 8px #888888;
}

.edit{
	background: none;
	outline: none;
	border: none;
	color: var(--secondaryColor);
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	margin: 0 0.5rem;
	cursor: pointer;
}

.remove{
	background: none;
	outline: none;
	border: none;
	color: var(--mainRed);
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	cursor: pointer;
}
@media screen and (min-width: 768px) {
    .item_input{width: 400px;}
    .input{width: 600px;}
}
// box-shadow: 10px 10px 8px #888888;
